.vs/
.idea/
**/bin/
**/obj/
artifacts/
.cache/
.tools/
*.user
*.suo
*.keystore
*.jks
*.pfx
*.apk
*.aab
*.binlog
*.log
src/Mostik.Android/NativeLibs/
src/Mostik.Android/Resources/drawable-nodpi/google_translate_badge.png
local.properties
.env
